.form-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.form-container form {
  width: 30%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

form input,
button {
  padding: 5px 0;
}
